/* я это всё удалю !!!!!!!*/

/* popup on index*/
.white_back {
  background-image: url("white back.png");
  position: absolute;
  left: 201px;
  top: 1687px;
  width: 1039px;
  height: 669px;
  z-index: 104;
}
/*карта включая невидимую часть*/
.Слой_2 {
  background-image: url("Слой 2.png");
  position: absolute;
  left: -226px;
  top: 2420px;
  width: 1725px;
  height: 808px;
  z-index: 25;
}
/*karta obrez v index */
.Прямоугольник_1 {
  background-color: rgb( 181, 181, 181 );

  width: 1440px;
  height: 416px;

}
text {
  .Вы_даже_не_подозре_аете___насколько__ы_изумител {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(40, 49, 54);
  line-height: 1.5;

  width: 213px;
  height: 40px;
  z-index: 52;
}

}
.Layer_42_copy {
  background-image: url("Layer 42 copy.png");
  position: absolute;
  left: 540px;
  top: 922px;
  width: 160px;
  height: 50px;

}
.Layer_42_copy_2 {
  background-image: url("Layer 42 copy 2.png");
  position: absolute;
  left: 940px;
  top: 922px;
  width: 160px;
  height: 50px;
  z-index: 58;
}
